<ion-header>

  <ion-navbar>
    <ion-title>{{'EXTRA' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="userCompetities && userCompetities.length <= 1">
      <h2>{{selectedCompetitie.naam}}</h2>
  </ion-item>    
  <ion-item *ngIf="userCompetities && userCompetities.length > 1">
      <ion-select [(ngModel)]="selectedCompetitie" interface="action-sheet" class="full-width" (ionChange)="competitieChanged($event)">
          <ion-option *ngFor="let competitie of userCompetities" [value]="competitie">{{competitie?.naam}}</ion-option>
      </ion-select>
  </ion-item>    
  
  <div *ngIf="groepen && groepen.length > 0">
      <div *ngFor="let competitie of groepen">
          <h2 text-center>{{competitie.naam}}</h2>
          <ion-list>
            <ion-item style="vertical-align: middle" *ngFor="let voorspelling of getVoorspellingen(competitie)" [ngClass]="{'groen': voorspelling.eindpositie === voorspelling.team.positie, 'rood': voorspelling.punten === 0}">
              {{voorspelling.eindpositie}}. 
              <span class="logo" *ngIf="voorspelling.team.naam">
                <img [team-logo]="voorspelling.team"/>
              </span>
              <span style="height:30px;vertical-align: middle" *ngIf="voorspelling.team.naam">
                {{voorspelling.team.naam}}
                <span *ngIf="voorspelling.team.positie">({{voorspelling.team.positie}})</span>
              </span>
              <span *ngIf="voorspelling" class="punten" item-end>{{voorspelling.punten}}</span>    
              <span *ngIf="!voorspelling.team.naam">-</span>
            </ion-item>
          </ion-list>    
        </div>      
  </div>
  <div *ngIf="groepen && groepen.length <= 1 && groepen.voorspeltype !== 65">
      <p>{{'NOT_IMPLEMENTED' | translate}}</p>
  </div>
  <div *ngIf="selectedCompetitie && selectedCompetitie.voorspelTopscorer">
    <h2 text-center>Topscorer</h2>
    <ion-card>
      <ion-item *ngIf="getTopscorer()" [ngClass]="{'groen': getTopscorer()?.punten > 0, 'rood': getTopscorer()?.punten === 0}">
          {{getTopscorer().speler?.naam}}
          <span class="punten" item-end>{{getTopscorer().punten}}</span>                  
        </ion-item>
    </ion-card>
  </div>
</ion-content>
