page-extra {
    .groen {
        color: green;
    }
    .rood {
        color: red;
    }
    .punten {
        font-weight: bold;
        font-size: 5vw;
    }
    .team {
        font-size: 16px;        
    }
}
