.voorspelling {
	font-weight: bold;
	font-size: 1.5em;
}
ion-slide.swiper-slide {
    align-items: flex-start;
}
ion-slide {
    overflow-y: auto;
    display: block;
}
#predictions .item-input ion-input {
    border: $theme-color-2 solid 1px;
}
ion-label {
    margin: 0; 
  }
