.voorspelling, .punten {
	font-weight: bold;
	font-size: 1.5em;
}
ion-slide.swiper-slide {
    align-items: flex-start;
}
ion-slide {
    overflow-y: auto;
    display: block;
}
ion-label {
    margin: 0; 
  }
#predictions {
    .item-input ion-input {
        border: $theme-color-2 solid 1px;
    }
    ion-row {
        text-align: center;
    }
    ion-col img {
        padding: 0em .8em;
    }
    ion-col p.team {
        font-size: 1rem;
    }
    .groen {
        color: green;
    }
    .rood {
        color: red;
    }
}