.voorspelling {
	font-weight: bold;
	font-size: 6vw;
}
ion-slide.swiper-slide {
    align-items: flex-start;
}
ion-slide {
    overflow-y: auto;
    display: block;
}
ion-content .has-refresher {
    position: static; //ion-content element voor de refresher.
}
ion-label {
    margin: 0; 
}
//cancel knop van selecteren doelpuntenmaker
.action-sheet-cancel {
    border-top: #ababab solid 1px; 
    background-color: #acacac !important; 
    text-align: right;
}
.action-sheet-button {
    border-bottom: #ababab solid 1px; 
}

#predictions {
    .validation-errors {
        padding: 12px;
    }
    form {
        height: 100%;
        .error
        {
          border: color($colors, danger) solid 2px;
        }
        .opgeslagen
        {
          border: green solid 1px;
        }
        .opgeslagen-melding 
        {
          padding-top: 6px;
          color: green;
          font-size: 3.5vw;
          min-height: 7vw;
        }
        
        .error-message
        {
          padding-top:6px;
          color: color($colors, danger);
          font-size: 4vw;
          font-weight: 500;
          background-color: inherit; //voor de achtergrond van de wedstrijd van de week
        }
    }
    .card-header-md, .card-header-ios {
        padding: 0;
        .item-md, .item-ios
        {
            background-color: rgba(#ababab, 0.1);
            color: #333;
            font-size: 3.2vw;
            span, p {
                font-size: 3.2vw;
            }
        }
    }
    .wvdw {
        background-color: rgba($theme-color-2, 0.1);
        .card-header-md, .card-header-ios {
            .item-md, .item-ios {
                background-color: rgba($theme-color-2, 0.12);
            }
        }
    }
    .links {
        text-align: left;
    }
    .rechts {
        text-align: right;
    }
    ion-row {
        text-align: center;
    }
    ion-col img {
        padding: 0em .8em;
    }
    ion-col .team {
        font-size: 3vw;
        padding: 6px 0;
    }
    .doelpunt-container.selected {
        border: $theme-color-2 solid 2px;
    }
    .doelpunt-container {
        border: $theme-color-2 solid 1px; 
        width: 100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */
        position: relative; /* If you want text inside of it */
        background-color: white;
        .doelpunt {
            position: absolute;
            top: 50%;
            height: 50%;
            margin-top: -25%;
            left: 0;
            right: 0;
            text-align: center;
            vertical-align: middle;
            font-size: 5vw;
            font-weight: bold;
        }
    }
    .doelpuntenmaker {
        border: $theme-color-2 solid 1px;
    }
    .groen {
        color: green;
    }
    .rood {
        color: red;
    }
    ion-select {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
    /* deze zorgt ervoor dat het pijltje van de dropdown normaal staat */
    .select-md .select-icon .select-icon-inner {
        left: 0px;
    }
    .weekpositie {
        ion-col {
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            p, span {
                font-size: 3.5vw;
            }
            span.punten {
                font-weight: bold;
                font-size: 5vw;
            }
        }
    }
}